

.card-list {
  width:85vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap:20px;
  margin-bottom: 20px;
}
@media screen and (max-width:480px) {
    .card-list {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 1fr;
        grid-gap:10px;
    }
    .imga {
      width: 100%;
      height: auto;
    }

    
}